.nav-bottom{
    width: 100%;
    background: #f1f1f1;
    position: fixed;
    bottom:0;
    border-top: 1px solid #b5b5b5;
    z-index: 9;
}

.img-nav-bottom{
    width: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav li{
    list-style: none;
}