.contenedor{
  overflow: hidden;
}

.inicio{
  width: 100%;
}

/* SOBRE MI */
.sobre-mi{
  padding: 4rem 0 4rem 0;
  background: #8585851a;
}
.imagen{
  width: 90px;
  border-radius: 30%;
}

.iconos-redes a{
  border: none;
  margin: 0 1rem;
}

.img-redes{
  width: 25px;
  transition: all 400ms;
}

.img-redes:hover{
  transform: translateY(-10px);
}

@media (min-width: 768px){
  .img-redes{
    width: 40px;
  }

  .imagen{
    width: 120px;
  }
}

@media (min-width: 1024px){
 .imagen{
    width: 120px;
  }

  .informacion p{
    font-size: 1.3rem !important;
  }
}


/* PROYECTOS */
.proyectos{
  padding: 4rem 0 3rem 0;
}

/* TECNOLOGIAS - HABILIDADES */
.tecnologias{
  padding: 5rem 0 6rem 0;
  background: #8585851a;
}

.contenedor-tecnologias{
  text-align: center;
}

.imagen-tecnologias{
  width: 34px;
  margin: 0 10px;
}

.list-group-item{
  background: none;
  padding: 7px 0;
}

.list-group-item:hover{
  background: rgba(223, 223, 223, 0.726);
}


@media (min-width: 768px){
  .imagen-tecnologias{
    width: 45px;
  }
}


/* CONTACTO */
.contacto{
  padding: 4rem 0 6rem 0;
}

.img-contacto{
  width: 30px;
}

.contacto button{
  border: 1px solid #00000087;
  margin-top: 1rem;
  color: black;
  padding: 4px 12px;
  float: right;
  background: none;
  transition: all 500ms;
}

.contacto button:hover{
  background: black;
  color: white;
  transform: scale(1.1);
}

.active{
  transition: all 500ms;
  transform: scale(1.5);
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

@media(min-width: 768px){
  .img-contacto{
    width: 40px;
    margin: 0 3rem !important;
  }

  
}
